.grid-container{
    display:grid;
    grid-template-rows: 60px 250px 40px;
    grid-template-columns: 200px 400px;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer"
    ;
}
.header{
    background-color: blueviolet;
    padding: 10px;
    grid-area: header;
}
.main{
    background-color: aquamarine;
    padding: 30px;
    grid-area: main;
}
.sidebar{
    background-color: royalblue;
    padding: 15px;
    grid-area: sidebar;
}
.footer{
    background-color: rgb(102, 130, 45);
    padding: 10px;
    grid-area: footer;
}

